* {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100vh;
}

.red {
  background-color: red;
}

.orange {
  background-color: orange;
}

.yellow {
  background-color: yellow;
}

.green {
  background-color: green;
}

.teal {
  background-color: teal;
}

.blue {
  background-color: darkblue;
}

.purple {
  background-color: purple;
}

#notes {
  display: flex;
  flex-direction: column;
  height: 100%;
}

#notes button {
  flex: 1;
  cursor: pointer;
  border: none;
  outline: none;
  font-size: 3rem;
  color: white;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}

@media (min-width: 600px) {
  #notes {
    flex-direction: row;
  }
}
